version: '3.7'
services:
  # Load Balancer (Entry Point)
  roadblock.local.zthunworks.com:
    image: zthun/works.proxy:1.0.0
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    depends_on:
      - roadblock-services-api
      - roadblock-services-web
    volumes:
      - ./packages/roadblock.proxy/conf.d:/etc/nginx/conf.d
  # Node Ports
  roadblock-services-web:
    image: node:16.6.0
    volumes:
      - .:/usr/dev
    working_dir: /usr/dev
    command: npm --workspace @zthun/roadblock.web run debug
  roadblock-services-api:
    image: node:16.6.0
    ports:
      - 9229:9229
    volumes:
      - .:/usr/dev
    environment:
      - DATABASE_URL=mongodb://roadblock-database:27017
    depends_on:
      - roadblock-database
    working_dir: /usr/dev
    command: npm --workspace @zthun/roadblock.api run debug
  # Databases
  roadblock-database:
    image: mongo:4.2.0
  # Utilities
  roadblock.database.com:
    image: mongo-express:0.49
    ports:
      - 8081:8081
    depends_on:
      - roadblock-database
    environment:
      - ME_CONFIG_MONGODB_SERVER=roadblock-database
